body{
	margin: 0pt;
	background-color: #EEE
}

div.container{
	margin: auto;
	width: 100%;
	padding: 0pt;
}

div.head{
	margin: auto;
	width: 100%;
	min-height: 50pt;
	padding: 30pt;
	text-align: center;
}
div.content{
	margin: auto;
	width: 900pt;
	height: 300pt;
	padding: 20pt;
	background-color: #FFF;
	align-content: center;
	text-align: justify-all;
}

div.menu{
	margin-top: 30pt;
	margin: auto;
	

	width: 240pt;
	height: 30pt;
	background-color: #FFF;

}

div.project{
	margin: auto;
	width: 100pt;
	height: 140pt;
	background-color: #EEEEEE;
	padding: 15pt;
	float: left;
	text-align: center;
	border-bottom: 5pt solid #2EC4B6;

}


h4.description{
	color: #000;
	padding: 0pt;
}

h4.language{
	color: #000;
	padding: 0pt;
	margin-top: -15pt;
}

div.project:hover{
	background-color: #FFBF69;
	border-bottom: 5pt solid #FF9F1C;
	-webkit-transition:0.25s ease all;
}

div.JavaScript{
	border-bottom: 5pt solid #ffd600;
}

div.cplusplus{
	border-bottom: 5pt solid #2962ff;
}

div.Java{
	border-bottom: 5pt solid #d50000;
}

div.Python{
	border-bottom: 5pt solid #1a237e;
}

div.HTML{
	border-bottom: 5pt solid #aa00ff;
}

div.description{
	background-color: #CCC;
	padding: 5pt;
	margin-top: 10pt;
	color: #0E273C;
	text-align: center;
}


ul{
	list-style: none;
	margin: 0pt;
	padding: 0pt;
}

li{
	position: relative;

	background-color: #011936;
	text-align: center;
	display: block;
	width: 60pt;
	padding: 10pt;
	float: left;
}

li:hover{
	background-color: #465362;
	border-bottom: 2pt solid #FF9F1C;
	-webkit-transition:0.25s ease all;
}

a{
	text-decoration: none;
	color: #fff;
}

footer{
	width: 100%;
	min-height: 80pt;
	padding: 20pt;
	text-align: center;
}